
//@import '../../styles/vars.scss';


.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 30px;
    background-color: var(--container-bg);
    border-radius: 10px;
}

.left__container{
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.right__container{
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
}

.input__container{
    position: relative;
    display: flex;
    align-items: center;
}

.search__icon{
    position: absolute;
    left: 10px;
}

.input{
    height: 30px;
    border-radius: 12px;
    border: 1px solid var(--input-bg);
    background-color: var(--input-bg);
    padding-left: 30px;
    width: 200px;
    color: var(--gray-text);
    transition: border-color 0.3s ease-out;

    &:focus{
        border-color: var(--input-hover-border);
    }
}

.search__label {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    pointer-events: none;
    transition: 0.3s ease-out;
}

.input:focus + .search__label {
    left: 10px;
    font-size: 12px;
}

.input:focus{
    outline: none;
}

.input:hover{
    background-color: var(--input-hover);
}

.avatar:hover,
.menu:hover,
.notifications:hover,
.link__logo:hover{
    transform: scale(1.01);
    transition: transform 200ms ease-in-out;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: red;
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: 0.4s;
        border-radius: 34px;

        &:before {
            position: absolute;
            content: '';
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: 0.4s;
            border-radius: 50%;
        }

        &.round {
            border-radius: 34px;

            &:before {
                border-radius: 50%;
            }
        }
    }
}





