@import '../../styles/vars.scss';

.container{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    //row-gap: 20px;
    //width: 200px;
    //padding-left: 30px;
}
