

.avatar__wrapper{
    display: flex;
    justify-content: space-between;
}

.info__wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: flex-start;
    margin-left: 30px;
    justify-content: flex-start;
}

.name{
    font-size: 20px;
    color: var(--color-primary);
    font-weight: 600;
}

.user__info{
    font-size: 16px;
}