

.button{
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 10px 16px;
    border: none;
    border-radius: 9px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}