// src/components/Toggle/index.module.scss
.switch {
    position: absolute;
    top: 28.5px;
    left: 71%;
    width: 60px;
    height: 20px;
    transform: translate(-50%, -50%);
    input {
        display: none;
    }
    .slider {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        overflow: hidden;
        background-color: #666666;
        border-radius: 50px;
        cursor: pointer;
        transition: all 1.4s;
        &:before,
        &:after {
            content: "";
            position: absolute;
            bottom: 5px;
            left: 5px;
            width: 10px;
            height: 10px;
            background-color: #ffffff;
            border-radius: 15px;
        }
        &:before {
            transition: 0.4s;
        }
        &:after {
            transition: 0.5s;
        }
    }
    .wave {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 20px;
        border-radius: 40px;
        transition: all 1.4s;
        &:after {
            content: "";
            position: absolute;
            top: 3px;
            left: 20%;
            width: 20px;
            height: 3px;
            background: #ffffff;
            border-radius: 100%;
            opacity: 0.4;
        }
        &:before {
            content: "";
            position: absolute;
            top: 10px;
            left: 30%;
            width: 5px;
            height: 2px;
            background: #ffffff;
            border-radius: 100%;
            opacity: 0.3;
        }
    }
    input:checked + .slider {
        background-color: transparent;
        &:before,
        &:after {
            transform: translateX(40px);
        }
    }
    input:checked ~ .wave {
        display: block;
        background-color: #6D57EF;
    }
}