
.container{
    background-color: var(--container-bg);
    width: 100%;
    //height: 500px;
    border-radius: 10px;
    margin-right: 30px;
    margin-top: 33px;
    display: flex;
    padding: 22px;
}