@import './vars.scss';

.user__wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 20px;
}

.main_user__container{
    width: 86%;
}

.header__user{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.button__container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.container{
    background-color: var(--container-bg);
    width: 100%;
    //height: 500px;
    border-radius: 10px;
    margin-right: 30px;
    margin-top: 33px;
    display: flex;
    padding: 22px;
    flex-direction: column;
    padding-top: 5px;
}

.line{
    height: 2px;
    background-color: #B4AEE3;
    width: 100%;
    border: none;
}

.title{
    color: var(--color-primary);
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
}


