@import '../../styles/vars.scss';


.container__item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    width: 145px;
    height: 40px;
    border-radius: 8px;
    padding-left: 6.5px;
}

.text{
    color: var(--color-text);
    font-size: 16px;
    //font-family: Inter, "Roboto Thin", serif;
    font-weight: normal;
    cursor: pointer;
}

.text:hover{
    //color: #5e5883;
    color: var(--light-primary);
}

.container__item:hover{
    background-color: var(--icon-hover);
}